{% extends "base_templates/base.html" %}
{% block content %}
<script>
  function handleSubmission() {
    event.preventDefault();
    // Disable the button to prevent multiple submissions
    const button = event.target;
    button.disabled = true;
    const cardDiv = document.getElementById('forgotten-password-card');

    fetch("{% url 'auth-manager-api:reset-password-request' %}", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({ email: document.getElementById('email').value })
    }).then(() => {
      cardDiv.innerHTML = '<div style="text-align: center;"><h5 class="mui-typography-h5">Forgotten Password</h5><p>A password reset link has been sent to your email address if it exists in our system.</p></div>';
    }).catch(() => {
      showMuiToast('There was an error processing your request. Please try again later.');
    });
  }
</script>
<div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <div class="mui-card" style="width:100%; margin: 0 auto 1.5em auto;">
    <div class="mui-card-body">
      <div id="forgotten-password-card" class="mui-card-body-content">
        <div style="text-align: center;">
          <h5 class="mui-typography-h5">Forgotten Password</h5>
          <div
            style="display: flex; justify-content: center; flex-direction: column; margin-top: 1.5em; position: relative;">
            {% csrf_token %}
            <div class="mui-input-wrapper" style="display: flex; flex-direction: column; margin-bottom: 0;">
              <input type="email" id="email" name="email" class="mui-input-contained"
                style="display: flex; flex-direction: column;" required placeholder=" " autofocus
                value="{{ email|default:'' }}" />
              <label for="email" class="mui-input-label">Email Address</label>
            </div>
            <button type="submit" onclick="handleSubmission()" class="mui-btn-contained"
              style="max-width: 280px; width: 100%; margin: 0 auto;">Send Reset Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center-align">
    <a href="{% url 'auth-manager:login' %}"
      style="cursor:pointer; color:rgb(255, 213, 8); font-weight:500; text-decoration:underline;">Back to Login</a>
  </div>
</div>
{% endblock %}