<div class="center-align">
  <p>Please enter the code from your authenticator app.</p>
  <form method="post" action="{% url 'auth-manager:mfa' %}" style="text-align: center;">
    {% csrf_token %}
    <input type="hidden" name="t" value="{{ auth_token }}">
    <input type="hidden" name="action" value="verify_totp">
    <input type="hidden" name="device_id" value="{{ device.id }}">

    <div style="display: flex; justify-content: center; flex-direction: column; margin-top: 1.5em; position: relative;">
      <div class="mui-input-wrapper" style="display: flex; flex-direction: column; z-index: 2;">
          <input
            class="mui-input-contained"
            type="text"
            id="totp-input-{{ device.id }}"
            name="code"
            maxlength="6"
            pattern="\d{6}"
            required
            placeholder=" "
            style="margin-bottom:0; z-index: 2;"
          />
          <label for="totp-input-{{ device.id }}" class="mui-input-label">Enter Code</label>
      </div>
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="error-msg-display">
        <span class="material-icons" style="font-size:1.1em; vertical-align:middle;">error_outline</span>
        <span>{{ message }}</span>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <button type="submit" class="mui-btn-contained">Verify</button>
  </form>
</div>
