<footer style="position:fixed; left:0; right:0; bottom:0; width:100vw; height:25px; line-height:25px; text-align:right; color:#111; font-size:0.75rem; font-weight:400; letter-spacing:0.03333em; background:#fff; padding:0; z-index:10; box-shadow: 0 -2px 8px rgba(0,0,0,0.04); font-family:'Roboto','Helvetica','Arial',sans-serif;">
  <div style="position:fixed; right:20px">
    Power-View by <a href="https://gridintel.com" target="_blank" rel="noopener" style="color:#003162; text-decoration:underline; font-weight:500;">GridIntel</a> Copyright {% now "Y" %}
  </div>
</footer>
