{% comment %} MFA enrollment skip card content {% endcomment %}
<div style="display: flex; align-items: center; flex-direction: column;">
  <p>If you do not wish to set up MFA at this time, click the button below.</p>
  <form method="post" action="{% url 'auth-manager:mfa-enroll' %}">
    {% csrf_token %}
    <input type="hidden" name="t" value="{{ auth_token }}">
    <input type="hidden" name="action" value="skip">
    <button type="submit" class="mui-btn-contained">Don't Setup MFA</button>
  </form>
</div>
