{% comment %} Email magic link MFA enrollment card content {% endcomment %}
<div class="center-align">
  <p>We'll send a secure login link to your email address:</p>
  <p style="font-weight: 500; margin: 1em 0;">{{ email }}</p>

  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <div class="success-msg-display">
    <span class="material-icons" style="font-size:1.1em; vertical-align:middle;">check_circle</span>
    <span>{{ message }}</span>
  </div>
  {% elif message.tags == 'error' %}
  <div class="error-msg-display">
    <span class="material-icons" style="font-size:1.1em; vertical-align:middle;">error_outline</span>
    <span>{{ message }}</span>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <form method="post" action="{% url 'auth-manager:mfa-enroll' %}">
    {% csrf_token %}
    <input type="hidden" name="t" value="{{ auth_token }}">
    <input type="hidden" name="action" value="send_magic_link">
    <button type="submit" class="mui-btn-contained">Send Magic Link</button>
  </form>
</div>
